<div class="container">
  <div class="row">
    <div class="col-xs-10">
      <hr />
      <div class="material-card" *ngIf="material">
        <ul class="list-group">
          <div class="container">
            <div class="row">
              <div class="col-sm">
                <a class="list-group-item" style="cursor: pointer">
                  {{ material.name }}
                </a>
              </div>
              <div class="col-sm">
                <a class="list-group-item" style="cursor: pointer">
                  {{ material.price }} Forint
                </a>
              </div>
              <div class="col-sm">
                <a class="list-group-item" style="cursor: pointer">
                  {{ material.weight }} {{ material.unit }}
                </a>
              </div>
              <div class="col-sm">
                <button
                  class="btn btn-success"
                  (click)="updateMaterial(material.id)"
                >
                  Update
                </button>
                <button
                  class="btn btn-danger"
                  (click)="deleteMaterial(material.id)"
                >
                  Delete
                </button>
              </div>
            </div>
          </div>
        </ul>
      </div>
    </div>
  </div>
</div>
