<div class="recipe-detail" *ngIf="recipeById">
  <div class="row">
    <div class="col-xs-12">
      <img
        [src]="recipeById.image"
        alt="{{ recipeById.name }}"
        class="img-responsive"
        style="max-height: 300px"
      />
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h1>{{ recipeById.name }}</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <!--  -->
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          id="dropdownMenu2"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">To Shopping List</a>
          <a class="dropdown-item" href="#">Edit Recipe</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Delete Recipe</a>
        </div>
      </li>
      <!--  -->
      <!-- <div class="btn-group" appDropdown>
        <button type="button" class="btn btn-primary dropdown-toggle">
          Manage Recipe <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li><a href="#">To Shopping List</a></li>
          <li><a href="#">Edit Recipe</a></li>
          <li><a href="#">Delete Recipe</a></li>
        </ul>
      </div> -->
      <!--  -->
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      {{ recipeById.description }}
    </div>
  </div>
  <div class="row" *ngFor="let item of recipeById.ingredients">
    <div class="col-xs-12">
      {{ item.name }}, {{ item.weight }} {{ item.unit }}
    </div>
  </div>
</div>
